<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
  <!--[if gte IE 9]><!-->
  <html>
    <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}: {{ page.subtitle }} | new market layer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Mihaly Himics" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/code_highlights.css" />
    <link rel="stylesheet" href="css/widescreen.css" />
    <!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

 

    <meta name="description" content="training on new market layer"/>
  </head>
    <body lang="en" id="main-layout"   class="vcard ">
      <header id="masthead">
      <div class="wrapper">
       
        <nav>
        <ul>
          <li class="index">
          <a href="index.html">
            <span>Home</span>
          </a>
          </li>
          <li class="projects">
          <a href="{{ site.url }}/objects">
            <span>Policy Instruments</span>
          </a>
          </li>
          <li class="projects">
          <a href="{{ site.url }}/demos">
            <span>Calibration</span>
          </a>
          </li>
        </ul>
        </nav>
      </div>
      </header>

      <article id="content" class="hentry">

      <header>
      <div>
	<img style="float:right" src="images/eurocare.png" />
        <h1 class="entry-title">{{ page.title }}</h1>
        <p>{{ page.subtitle }}</p>
      </div>
      </header>

      <div class="wrapper">
        <div class="entry-content">
        {{ content }}
      </div>
      </div>

      </article>

  
     
       </body>
     </html>
